[package]
name = "sudo_awesome_jwt_rust"
version = "0.1.0"
edition = "2021"
build = "build.rs"

[lib]
crate-type = ["cdylib"]

[dependencies]
base64 = "0.22"
libc = "0.2"
openssl = "0.10"
serde = { version = "1", features = ["derive"] }
serde_json = "1"

[profile.release]
lto = true
